
@{
    ViewBag.Title = "Index";
}

<h2>Help</h2>

<p> MVC Tutorial: <a class="btn btn-default" target="_new" href="https://www.tutorialsteacher.com/mvc/asp.net-mvc-tutorials">MVC</a></p>
<p> Teachers Tutorial: <a class="btn btn-default" target="_new" href="https://www.tutorialsteacher.com/mvc/asp.net-mvc-tutorials">MVC</a></p>
<p> MVC 5 EBook: <a class="btn btn-default" target="_new" href="https://riptutorial.com/ebook/asp-net-mvc">MVC</a></p>
<p> Data Annotations: <a class="btn btn-default" target="_new" href="https://www.tutorialspoint.com/asp.net_mvc/asp.net_mvc_data_annotations.htm">Overview</a></p>
<p> HTML Helpers: <a class="btn btn-default" target="_new" href="https://www.tutorialspoint.com/asp.net_mvc/asp.net_mvc_helpers.htm">Overloads</a></p>
<p> JS ToastR NUGET: <a class="btn btn-default" target="_new" href="https://www.nuget.org/packages/toastr">ToastR Library</a></p>
<p> JS w3schools : <a class="btn btn-default" target="_new" href="https://www.w3schools.com/js">JS Manual</a></p>
